# 1 Introduction and clinical context

# 2 Defintions methods and hypotheses

# 3 Import of data and libraries

## 3.1 Import of libraries

In [ ]:
#Importing basic data analyst libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Importing libraries for SQL querrying
import duckdb

## 3.2 Import of tables

I decided to import all the tables relevant for my analysis at this point. I will treat them as a database and later on i will look at them in detail. Now I will just import them one by one whereas querrying and cleaning comes a bit later in separate stages. I chose this approach because i find it more logically organised compared to other solutions.

###3.2.1 Importing confirmed cases table

In [ ]:
df_cases = pd.read_csv('data/raw/confirmed_global.csv')

Verifying import

In [ ]:
print(df_cases.head())

##### ---Cases dataset imported successfully---

### 3.2.2 Importing death cases

In [ ]:
df_deaths = pd.read_csv('data/raw/deaths_global.csv')

Verifying import

In [ ]:
print(df_deaths.head())

##### ----Deaths dataset importet successfully----

### 3.2.3 Importing recovered cases dataset

In [ ]:
df_recovered = pd.read_csv('data/raw/recovered_global.csv')

In [ ]:
print(df_recovered.head())

##### ----Recovered dataset importet successfully!----

# 4 Inspecting cleaning and preparing datasets for melting

In this sections I will get acquianted with dataset, melt it, deal with missings and prepare it for melting

## 4.1 Inspecting cleaning and preparing the dataset with cases

### 4.1.1 Inspecting the dataset with cases

In [ ]:
print(df_cases.head())

In [ ]:
print(df_cases.shape)

Shape of the dataset is 274 rows and 449 columns.

From the first glance I see identifier columns such as province/state, Country/Relogion, Latitude and longitude. There are 449 columns where majority corresponds to individual dates within given period of time. To confirm that only date columns follow 'Long', and that there are no unexpected columns in between, I will iterate through the column names and count the columns to crosscheck whether i itterate through columns correctly.

In [ ]:
count = 0
for col in df_cases:
    print(col)
    count = count + 1
    
print("the column count is: ", count)

All the respective columns  after 'Long' seem to represent individual dates and column count from the loop is in agreement with the column count from df_cases.head(). Next I need to check data types of individual columns

In [ ]:
count_integer = 0
count_other_datatypes = 0
for col in df_cases:
    print(df_cases[col].dtype)
    if df_cases[col].dtype == int:
        count_integer = count_integer +1
    else:
        count_other_datatypes = count_other_datatypes + 1

print('Integer count is:', count_integer, '\n Other data types count is:', count_other_datatypes)
if count_integer == 445:
    print('All date-columns are integers!')

Loop confirmed that all date columns are formated as an integer datatype. I see that other datatypes in the dataset are objects and float. I will confirm it with command .info()

In [ ]:
df_cases.info()

Verification showed exactly those datatypes i noticed  above

In [ ]:
print(df_cases.describe)

Describe command gives me an overview over the dataset. There are a lot of missing values in province/state. I have to investigate this variable closer. Country/region column will likely be the variable of interest and will serve us as identifier, Whereas latitute and longitude are not interesting forour analysis. Even though some viruses are known to spread better in colder or warmer climates, Cross-country comparisons in cases between the countries are not feasible because we donÂ´t have data on people tested and countries were very different in test measures and  test equipment. In this dataset we lack the data for it. I will not check dataset with .describe(). Quick overview shows that there were 0 cases in a begining whereas number of cases began to increase and fluctuate over time.

### 4.1.2 Cleaning the dataset with cases

I am checking if there are any missing values in columns

In [ ]:
df_cases.isna()

I cannot see the whole dataset, but the output indicates that Province/state has missing values. I am going to investigate it further along with other columns

In [ ]:
df_cases.isna().any()

It seems that longitude latitude and province contain misssing values whereas dates seem to contain no missing value. I need to check my assumption.

In [ ]:
df_cases.isna().any().sum()

There are three columns in the df_cases. They are Province/State, Lat, Long.

There are three columns in the df_cases. They are Province/State, Lat, Long.
Before I go further with cleaning and droping, want to check which column is the most pertinent one to become identifier column during melting. The two most valiable options are Province/state and Country/Region. I will extend the jupyter notebook output to contain up to 500 rows and columns which should be sufficient size to cover the entire df_cases dataframe.

In [ ]:
#extending output for rows
pd.set_option('display.max_rows', 300)
#extending output for columns
pd.set_option('display.max_columns', 500)

In [ ]:
df_cases[['Province/State', 'Country/Region']]

I confirm that column 'Province/State' is of no interest as it shows either overseas territories and provinces/states within a few countries.Contrary, Norway and Slovakia are both within Country/Region column which will become our identifier. Now I will strip the dataset from all the unneccesarry columns and rows.

In [ ]:
df_cases_filtered = """
SELECT *
FROM df_cases
WHERE "Country/Region" = 'Norway' OR "Country/Region" = 'Slovakia';
"""
df_cases = duckdb.query(df_cases_filtered).to_df()

Checking whether i filtered rows correctly

In [ ]:
print(df_cases.iloc[:, 1:])
type(df_cases), df_cases.shape

I correctly filtered just relevant rows and transformed querried data into dataframe. There are two rows- Slovakia and Norway with number of columns(449) remained unchanged. Now I will proceed with dropping all the unneccessarry columns. namely: 
'Province/State', 
'Long', 
'Lat'

As mentioned earlier, variables lattitude and longitude are of  no value in our analysis, whereas province/state is variable indicating a region within larger countries.Countries of interest are slovakia and Norway and we have no addotional data on specific locations within those countries.

In [ ]:
df_cases.drop(['Province/State', 'Long','Lat',], axis = 1, inplace = True)

Checking if there are some missing values in the dataset:
df_cases_filtered.isna()

In [ ]:
df_cases.isna().any().sum()

I correctly dropped all the unneccessarry rows and dataset is ready to melt. But before I will do it I will prepare datasets with deaths and recovered cases.

## 4.2 Inspecting cleaning and preparing the dataset with deaths

### 4.2.1 Inspecting the dataset with deaths

In [ ]:
print(df_deaths.shape)

The deaths dataset has the same number of rows(274) and columns (449) as the cases dataset. its a good indication because the process of cleaning checking and extracting of data will be very simmilar.

In [ ]:
print(df_deaths.head())

Again, earlier dates indicate zero deaths whereas number of deaths towards the later period is higher and steadily increasing Whereas first five variables: 'Province/State' 'Country/Region 'Lat''Long' seem to be identical through all the datasets. I have to confirm this assumption

I am checking what datatypes exist in the dataset deaths

In [ ]:
df_deaths.info()

df_deaths dataset seem to have identical types  two float columns (lat, long), two object columns (Province/State Country/Region) and 445 integer(date columns). I will verify it

In [ ]:
print(df_deaths['Country/Region'].dtype)
print(df_deaths['Country/Region'].dtype)
print(df_deaths['Long'].dtype)
print(df_deaths['Lat'].dtype)

I confirm my assumption about float and object columns, I will check the date(integer columns as well)

In [ ]:
#Filtering dataset so there are only dates
df_deaths_only_date = df_deaths.iloc[:, 4:]
#Creating loop to check which type the column is
date_counter = 0
for col in df_deaths_only_date:
    print(df_deaths_only_date[col].dtype)
    date_counter +=1 

print(date_counter)
print(df_deaths_only_date.info())

I confirm that the dataset contains 445 integers! I am finished with scrutinizing the dataset with deaths and I move further to clean it.

### 4.2.2 Cleaning the dataset with deaths

I first check whether columns contain missing values

In [ ]:
print(df_deaths.isna().any())
df_deaths.isna().any().sum()

#I will check how many columns with missing values are present. if there are three we know they are those:
 Province/State      
 Lat       
 Long

In [ ]:
df_deaths.isna().any().sum()

I confirm the assumption about the missing values. Now I check identifier columns

In [ ]:
print(df_deaths['Province/State'],df_deaths['Country/Region'])

Based on the output, I will drop the Long, Lat and Province/State columns as they are of no interest for us:

In [ ]:
df_deaths.drop(['Province/State', 'Long', 'Lat'], axis = 1, inplace = True)

Filtering rows with Slovakia and Norway and re-writing original dataset:

In [ ]:
df_deaths.head()

In [ ]:
#row-filtering
df_deaths_filtered = """
SELECT * FROM df_deaths
WHERE "Country/Region" = 'Slovakia' OR "Country/Region" = 'Norway' """
#re-writing df_deaths
df_deaths = duckdb.query(df_deaths_filtered).to_df()

In [ ]:

print(' The dataset has', df_deaths.isna().any().sum(), 'missings', df_deaths.shape, df_deaths.info())

In [ ]:
print(df_deaths)

 ##### Dataset is correctly cleaned and filtered with dates as integers, identifier column som object and zero missing values.

## 4.3 Inspecting cleaning and preparing the dataset with recovered cases

### 4.3.1 Inspecting the dataset with recovered cases

In [ ]:
df_recovered.head()

The dataset seems to follow the exactly same pattern as the two  datasets above.

In [ ]:
df_recovered.info()

In [ ]:
df_recovered.dtypes

Contrary to other columns variable lat is coded as an object. It doesnÂ´t have an effect on my decision to drop it, it is just peculiar observation. Now I check whether there is  Norway and Slovakia in country/region variable.

In [ ]:
#Checking country column
print(df_recovered['Country/Region'].isin(['Norway']).any())
print(df_recovered['Country/Region'].isin(['Slovakia']).any())


#Checking state column

print(df_recovered["Province/State"].isin(["Slovakia"]).any())
print(df_recovered['Province/State'].isin(['Norway']).any())

We did find both countries in Country/Region, Whereas we didnt find any of the countries of interest in Province/State. This means again that identifier will be Country/Region. I will confirm that dates are integers in subsequent code:

In [ ]:
recovered_dates = df_recovered.iloc[:,4:]

In [ ]:
recovered_dates.info()

All dates are integers

### 4.3.2 Cleaning the dataset with recovered cases

I will filter the rows dataset applying boolean mask to relevant rows and columns:

In [ ]:
df_recoveredd =df_recovered[(df_recovered['Country/Region'] == 'Slovakia') | (df_recovered['Country/Region'] == 'Norway')].copy()

In [ ]:
#Reassigning the new table to the old one
df_recovered = df_recoveredd
df_recovered

I need to change row indexes. I reset them.

In [ ]:
df_recovered.reset_index(drop = True, inplace = True)

Now I  drop all the irelevant columns

In [ ]:
#Droping unneccessarry columns
df_recovered.drop(['Long', 'Lat', 'Province/State'], axis = 1, inplace = True)
df_recovered

##### -----Cleaning successfull! -----

## 4.4 Checking the tables all together

In [ ]:
df_cases

In [ ]:
df_deaths

In [ ]:
df_recovered

All the tables seem to be correctly filtered, I confirm that by printing out datatypes in columns of respective dataframes.

In [ ]:
print(df_recovered.info())
print(df_deaths.info())
print(df_cases.info())

All the dataframes have 445 integers(dates) and 1 object(identifier). I will finally confirm a cleanliness of dataset viewing their shape

In [ ]:
print(df_recovered.shape)
print(df_deaths.shape)
print(df_cases.shape)

All of them have two rows(Slovakia and Norway) and 446 columns out of which 445 are date columns and 1 is identifier. I confirm dataset is ready for further analysis.

# 5 Melting the datasets

## 5.1 Melting the cases dataset

Melting means that I change format of the table. Instead of having 446 columns, I want to have just three. these are:
country/region, date and number of cases.The table will be long because each date column will be listed as row twice- one for slovakia and same date for norway.

In [ ]:
df_cases = df_cases.melt(id_vars = 'Country/Region', var_name = 'date', value_name = "cases_number").copy()

Checking the table

In [ ]:
df_cases

 ##### The table is melted correctly, there are 890 rows which is 455 per country this number of rows corresponds to number of date columns in the original dataset

## 5.2 Melting the deaths dataset

In [ ]:
df_deaths = df_deaths.melt(id_vars = "Country/Region", var_name = 'date', value_name = 'deaths_number').copy()

Checking the table

In [ ]:
df_deaths

 ##### I confirm that columns are named correctly and shape of the table 890 x 3 is desirable.

## 5.3 Melting the dataset with recovered cases

In [ ]:
df_recovered = df_recovered.melt(id_vars = "Country/Region", var_name = "date", value_name = 'recovered_number').copy()

Checking the dataframe

In [ ]:
df_recovered

I confirm that table shape matches perfectly the table shapes of recovered and cases tables. All three tables begin and finish with the same date. Lastly i check if there are any duplicates in the date columns. Each dataset should not have more than 2 duplicates of date(corresponding to 2 respective countries) in itself.

Accessing the number of duplicates for each date in each dataset(correct should be 2 for each date)

In [ ]:
cases_duplicates_size = df_cases.groupby("date").size()
deaths_duplicates_size = df_deaths.groupby("date").size()
recovered_duplicates_size = df_recovered.groupby("date").size()

Checking if each date contains no more or no less than two duplicates:

In [ ]:

print((cases_duplicates_size == 2).all())
print((deaths_duplicates_size == 2).all())
print((recovered_duplicates_size == 2).all())

 ##### Melting successfull!

# 6. Merging datasets

I will merge the datasets using "LEFT JOINs". Since the individual datasets ("df_cases", "df_deaths", "df_recovered") are already clean and perfectly aligned with 890 rows each for Norway and Slovakia over time, the final merged dataset should also retain this length (890 rows) if the joins are performed correctly.

While two simple "LEFT JOIN"s would suffice for this specific merging task, I want to demonstrate proficiency in more in-demand SQL skills for my portfolio. Therefore, I will structure these joins using a Common Table Expression (CTE) and a subquery. This approach showcases my ability to write modular, readable, and more complex SQL queries, which is a valuable skill for data analysis roles.

In [ ]:
merging_query = """ WITH recovered_join  AS (SELECT 
                            "Country/Region",
                            "date", 
                            "recovered_number" 
FROM df_recovered)

SELECT c."Country/Region" AS country,
       c."date", 
       c."cases_number", 
       d."deaths_number", 
       r."recovered_number"
FROM df_cases AS c

LEFT JOIN (SELECT "deaths_number", 
                  "date", 
                  "Country/Region"
           FROM df_deaths) AS d
on c."date" = d."date" AND c."Country/Region" = d."Country/Region"
              
LEFT JOIN recovered_join AS r 
on c."date" = r."date" AND r."Country/Region" = c."Country/Region";  """

Turning query into dataframe

In [ ]:
df_timeseries = duckdb.query(merging_query).to_df()
df_timeseries

## 6.1 Verifying integrity of the time series dataframe

Table df_timeseries  contains 890 rows and five columns which is expected outcome of merging.Finally I check missing values. if there are none it means merging was succesfull

In [ ]:
print(df_timeseries .isnull().any())
print(df_timeseries.info())

##### ----No missing values found so merging went well----
I see that date is coded as object and I need to convert it to date-time format

# 6. Date-time conversion

I pluck first row with date column first

In [ ]:
df_timeseries

In [ ]:
print(type((df_timeseries.iloc[0, 1])))
print(df_timeseries.loc[0, "date"])

It is string format, but i need date - time format. I continue with  changing  cariable string format to date-time

In [ ]:
df_timeseries["date"] = pd.to_datetime(df_timeseries["date"], format = "%m/%d/%y")

In [ ]:
df_timeseries

looks correct but I will sort it by date and check type of date column once again.

In [ ]:
print(type(df_timeseries.loc[0, "date"]))

It is date-time format! Now i sort the  dataset based on date

In [ ]:
df_timeseries = df_timeseries.sort_values("date").copy()

Checking the dataframe

In [ ]:
df_timeseries

## 6.1 Reset index of the sorted dataset

Dataset is now ordered by the date but I need to get the index right as well. I will therefore make date as an  index

In [ ]:
df_timeseries.set_index("date", inplace = True)

In [ ]:
df_timeseries

Checking the index

In [ ]:
df_timeseries.index

In [ ]:
df_timeseries.loc["2021-04-10",:]

I can use date to access rows and dates are listed ar indexes which is desirable.
##### ---Dataset is sorted, correctly indexed and ready for explanatory data analysis(EDA)---

# 7 Explanatory data analysis

## 7.1 Exploring the  timeframe of the dataset as a whole

In [ ]:
#Printing starting date
print(df_timeseries.iloc[1, :])
#Printing end date
print(df_timeseries.iloc[-1, :])

We will conduct the time series analysis within the period between the dates 2020-01-22 and 2021-04-10 which will give us almost one year and three months window to look at. This is enough time to access aspects such as Trend, Seasonality, Stationarity, Autocorrelation, Noise, Outliers, Frequency, Structural Breaks, Cyclic Patterns, Volatility.

## 7.2 Explanatory data analysis of cases

First I check average number of cases per week

In [ ]:
df_weekly_avg = (
    df_timeseries
    .groupby("country")
    .resample("W")
    .mean(numeric_only = True)
    .reset_index()
)

Index of weekly_avg table shows weeks in chronological order and under cases_number,	deaths_number, and recovered_number, we have weekly averages of those metrics per week. Now I am going to find week with the most average cases

In [ ]:
#Filtering maximum average per week for Slovakia
print(df_weekly_avg[(df_weekly_avg["country"] == "Slovakia")]["cases_number"].max())
#Filtering maximum average per week for Norway
print(df_weekly_avg[(df_weekly_avg["country"] == "Norway")]["cases_number"].max())

In [ ]:
#Extracting the week with the most average cases in Slovakia
df_weekly_avg[(df_weekly_avg["country"] == "Slovakia") & (df_weekly_avg["cases_number"] >= 367726)]

In [ ]:
#Extracting the week with the most average cases in Norway
df_weekly_avg[(df_weekly_avg["country"] == "Norway") & (df_weekly_avg["cases_number"] >= 101355)]

Both Norway and Slovakia had the most average cases number in the  end of the investigated period. Specifically the week 2021-04-11. Slovakia had more than three-fold more cases on average in this week(367727) compared to Norway (101355) at this point of time. While I am not calculating incident or death rates here, it's worth noting that both countries have very similar population sizes (around 5.4 million each), making this difference in raw average cases particularly striking.

Now I visualize the  COVID-19 cases in both countries  with lineplot.

In [ ]:
cases_plot = sns.lineplot(x = "date", y = "cases_number", data = df_timeseries, hue = "country")
cases_plot.set_title("Covid-19 cases between country comparison", y = 1.03)
cases_plot.set(xlabel ="Moment in time", ylabel = " Number of cases")
plt.xticks(rotation = 45)
sns.figsize = 1.5

The figure gives us a quite nice overview, but before I comment on it I will try to smoothen it out by rolling averages per week. I will use a window function in SQL to do it and i need to move the date to a column from index. In this step I will do the same thing for deaths_number and recovered_number so I will not have to do it over and over again three times. First I will reset index

In [ ]:
df_timeseries.reset_index(inplace = True)
df_timeseries

Done!
Now I can proceed with querying a window function

In [ ]:
df_rollingweek_cases = """ SELECT *, 
                               AVG(cases_number) 
                               OVER (PARTITION BY country 
                               ORDER BY date 
                               ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) 
                               AS rolling_weekly_cases, 
                           
                              AVG(deaths_number) 
                              OVER(PARTITION BY country 
                              ORDER BY date 
                              ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) 
                              AS rolling_weekly_deaths, 
                          
                              AVG(recovered_number) 
                              OVER(PARTITION BY country 
                              ORDER BY date ROWS BETWEEN 6 PRECEDING AND CURRENT ROW)
                              AS rolling_weekly_recovered 
                        FROM df_timeseries"""
df_timeseries = duckdb.query(df_rollingweek_cases).to_df()

In [ ]:
df_timeseries

All looks fine. Now I will create smoother plot

In [ ]:
#Creating line-plot
weekly_cases_avg_plot = sns.lineplot(x = "date", y = "rolling_weekly_cases", data = df_timeseries, hue = "country")
#Customizing the line-plot with average cases
weekly_cases_avg_plot.set_title("Covid-19 cases weekly average", y = 1.03)
weekly_cases_avg_plot.set(xlabel ="Moment in time", ylabel = "Average number of cases per 7 days")
plt.xticks(rotation = 45)
sns.figsize = 1.5

The line plot shows that Norway had a higher number of average cases until approximately the first half of the investigated period. Around October 2021, Slovakia exceeded Norway in the number of average cases per week, and for the remainder of the period shown, Slovakia's average number of cases per week grew almost exponentially, whereas in Norway, the curve is more flattened, indicating gentler growth compared to Slovakia. I will check weekly in percentage points for both countries and volatility.

Reseting index back to date-time after querying

In [ ]:
df_timeseries.set_index("date", inplace = True)
df_timeseries

Now I check differences in average number of cases between the weeks in Norway

In [ ]:
pd.set_option('display.max_rows', 900)
df_weekly_avg[df_weekly_avg["country"] == "Norway"]["cases_number"].pct_change() * 100

The first entry (2020-01-26) for the percentage change is NaN because there is no preceding value to compare it to. The subsequent four entries are also NaN, indicating zero cases or no change from zero in those initial weeks. The inf (infinity) value on 2020-03-01 precisely indicates the first week where Norway recorded a non-zero number of average COVID-19 cases, leading to a division by zero in the percentage change calculation.

After these initial weeks, the weekly increase in cases stabilized, fluctuating between approximately 0 and 8 percentage points until the end of October 2020. This was followed by a period of higher fluctuation for about five subsequent weeks, with increases ranging between 11 and 19 percentage points. After the end of November 2020, the percentage point increase in cases stabilized again, generally ranging from 2% to 9% until April 2021.

In [ ]:
df_weekly_avg[df_weekly_avg["country"] == "Slovakia"]["cases_number"].pct_change()*100

Similarly to Norway, Slovakia had no COVID-19 cases present until March 2020. In April 2020, the first outbreak resulted in a significant percentage point increase over the subsequent seven weeks. From mid-May to mid-July, the percentage point increase in cases did not exceed eight percentage points. However, at the beginning of August, the percentage point increase in COVID-19 cases gradually rose and peaked in mid-October, with the annual weekly percentage point increase reaching almost 52%. By mid-January 2021, the weekly increase in COVID-19 cases had dropped below a 10% threshold and gradually decreased to 1.5% in the final week of our period.